/* Global styles */

body {
  font-family: sans-serif;
  background: #EEE;
  color: #555;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 0.5rem;
}

p, ol, ul {
  margin: 0;
}

main {
  max-width: 80rem;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #FFF;
  }
}
